@page "/"
@page "/{categoryurl}"
@inject ICategoryService CategoryService
@if(category != null)
{
     <h1>Bạn đang xem mục @category.Name</h1>
    <ProductList CategoryId= "@category.Id"/>
}
else
{
    <h1>Welcome to Petshop</h1>
    <ProductList/>
}

@code{
    [Parameter]
    public string CategoryUrl { get; set; }
    private Category category = null;
    protected override void OnParametersSet()
    {
        if(CategoryUrl != null)
        {
            category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else
        {
            category = null;

        }
    }
}